<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tollboothfunctionappr.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/41ca5ed7-3e4f-4a30-b857-9cdad18ad91e/resourceGroups/ODL-serverless-architecture-82832/providers/Microsoft.Web/sites/TollBoothFunctionAppR</ResourceId>
    <UserName>$TollBoothFunctionAppR</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://tollboothfunctionappr.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>